In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

In [2]:
df=pd.read_csv("Ankleshwar.csv")
df=df.iloc[:,1:]
df

                   Date    pm25
0      04-02-2019 19:00   70.52
1      04-02-2019 20:00   61.39
2      04-02-2019 21:00   59.94
3      04-02-2019 22:00   76.44
4      04-02-2019 23:00   98.54
...                 ...     ...
33531  02-12-2022 22:00  115.37
33532  02-12-2022 23:00  104.06
33533  03-12-2022 00:00  110.59
33534  03-12-2022 01:00  122.87
33535  03-12-2022 02:00  122.71

[33536 rows x 2 columns]

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y %H:%M')
df.set_index('Date', inplace=True)

# Target series
ts = df['pm25']
ts_valid = ts.dropna()

# Fit ARIMA model — you may optimize order (p,d,q)
# p: the number of lag observations in the model, also known as the lag order.
# d: the number of times the raw observations are differenced; also known as the degree of differencing.
# q: the size of the moving average window, also known as the order of the moving average.
model = ARIMA(ts_valid, order=(2,1,2))  # (p,d,q) can be tuned
results = model.fit()

# Forecast over entire index range
ts_pred = results.predict(start=ts.index[0], end=ts.index[-1])

# Impute NaNs in original series
ts_imputed = ts.copy()
ts_imputed[ts_imputed.isna()] = ts_pred[ts_imputed.isna()]
df['pm25_arima'] = ts_imputed

C:\Users\Subham\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Subham\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Subham\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [6]:
df.to_csv("Arima.csv")